
@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Add Category Page</h2>


<form method="post">
    <label>Category Name</label>
    <input type="text" class="form-control" name="CategoryName" />
    <br />
    <label>Category Status</label>
    <input type="text" class="form-control" name="CategoryStatus" />
    <br />
    <button class="btn btn-info">Add Category</button>
</form>
