
@{
    ViewBag.Title = "AddCustomer";
    Layout = "~/Views/Shared/NewAdminLayout.cshtml";
}

<h2>AddCustomer</h2>
<br />

<form method="post">
    <label>Customer Name</label>
    <input type="text" class="form-control" name="CustomerName" />
    <br />
    <label>Customer Surname</label>
    <input type="text" class="form-control" name="CustomerSurname" />
    <br />
    <label>Customer Phone</label>
    <input type="text" class="form-control" name="CustomerPhone" />
    <br />
    <label>Customer Mail</label>
    <input type="text" class="form-control" name="CustomerMail" />
    <br />
    <label>Customer Password</label>
    <input type="text" class="form-control" name="CustomerPassword" />
    <br />
    <button class="btn btn-primary">Add City</button>
</form>

