
<section class="blog" id="blog">
    <div class="container">
        <div class="heading">
            <h3>Latest News</h3>
        </div>
        <div class="blog-grids">
            <div class="col-md-4 blog-grid">
                <a href="#" data-toggle="modal" data-target="#myModal"><img src="/Templates/ui/web/images/bg4.jpg" alt="" /></a>
                <h5>June 10,2017</h5>
                <h4><a href="#" data-toggle="modal" data-target="#myModal">Road Way Transport</a></h4>
                <p> Lorem ipsum dolor sit amet, consectetur adipi scingelit. Vestibulum orci justo, vehicula vel sapien et, feugiat sapien. Integer sit amet.</p>
                <div class="readmore-w3">
                    <a class="readmore" href="#" data-toggle="modal" data-target="#myModal">Read More</a>
                </div>
            </div>
            <div class="col-md-4 blog-grid">
                <a href="#" data-toggle="modal" data-target="#myModal"><img src="/Templates/ui/web/images/bg7.jpg" alt="" /></a>
                <h5>June 17,2017</h5>
                <h4><a href="#" data-toggle="modal" data-target="#myModal">Water Way Transport</a></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipi scingelit. Vestibulum orci justo, vehicula vel sapien et, feugiat tristique.</p>
                <div class="readmore-w3">
                    <a class="readmore" href="#" data-toggle="modal" data-target="#myModal">Read More</a>
                </div>
            </div>
            <div class="col-md-4 blog-grid">
                <a href="#" data-toggle="modal" data-target="#myModal"><img src="/Templates/ui/web/images/bg8.jpg" alt="" /></a>
                <h5>June 26,2017</h5>
                <h4><a href="#" data-toggle="modal" data-target="#myModal">Rail Transport</a></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipi scingelit. Vestibulum orci justo, vehicula vel sapien et, feugiat sapien. Integer sit amet.</p>
                <div class="readmore-w3">
                    <a class="readmore" href="#" data-toggle="modal" data-target="#myModal">Read More</a>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</section>
