
<div class="banner-bottom">
    <div class="col-md-7 bannerbottomleft">
        <div class="video-grid-single-page-agileits">
            <div data-video="d3q5mRA5djY" id="video"> <img src="/Templates/ui/web/images/bg2.jpg" alt="" class="img-responsive" /> </div>
        </div>
    </div>
    <div class="col-md-5 bannerbottomright">
        <h3>How Does We Work?</h3>
        <p>
            Ut enim ad minima veniam, quis nostrum
            exercitationem ulla corporis suscipit laboriosam,
            nisi ut aliquid ex ea.
        </p>
        <h4><i class="fa fa-taxi" aria-hidden="true"></i>International Transport Deliver System</h4>
        <h4><i class="fa fa-shield" aria-hidden="true"></i>Fast & Best Deliver Service</h4>
        <h4><i class="fa fa-ticket" aria-hidden="true"></i>Standard Courier value</h4>
        <h4><i class="fa fa-space-shuttle" aria-hidden="true"></i>Easy And Auto Shipping Service</h4>
        <h4><i class="fa fa-truck" aria-hidden="true"></i>Packaging & Storage</h4>
    </div>
    <div class="clearfix"></div>
</div>