@using Logistic.UILayer.Models
@model List<TblCity>

<div class="slider" style="position:relative;">
    <div class="callbacks_container">
        <ul class="rslides" id="slider">
            <li>
                <div class="w3layouts-banner-top w3layouts-banner-top1">
                    <div class="banner-dott">
                        <div class="container">
                            <div class="slider-info">
                                <div class="col-md-8">
                                    <h2>Auto transport to fill</h2>
                                    <h4>the truck space</h4>
                                    <div class="w3ls-button">
                                        <a href="#" data-toggle="modal" data-target="#myModal">More About Our Transport</a>
                                    </div>
                                    <div class="bannergrids">
                                        <div class="col-md-4 grid1">
                                            <i class="fa fa-truck" aria-hidden="true"></i>
                                            <p>lorem ipsum dolor sit amet consectetur adipiscing</p>
                                        </div>
                                        <div class="col-md-4 grid1">
                                            <i class="fa fa-ship" aria-hidden="true"></i>
                                            <p>lorem ipsum dolor sit amet consectetur adipiscing</p>
                                        </div>
                                        <div class="col-md-4 grid1">
                                            <i class="fa fa-bus" aria-hidden="true"></i>
                                            <p>lorem ipsum dolor sit amet consectetur adipiscing</p>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="w3layouts-banner-top">
                    <div class="banner-dott">
                        <div class="container">
                            <div class="slider-info">
                                <div class="col-md-8">
                                    <h3>independent Carriers</h3>
                                    <h4>auto shipping</h4>
                                    <div class="w3ls-button">
                                        <a href="#" data-toggle="modal" data-target="#myModal">More About Our Transport</a>
                                    </div>
                                    <div class="bannergrids">
                                        <div class="col-md-4 grid1">
                                            <i class="fa fa-truck" aria-hidden="true"></i>
                                            <p>lorem ipsum dolor sit amet consectetur adipiscing</p>
                                        </div>
                                        <div class="col-md-4 grid1">
                                            <i class="fa fa-ship" aria-hidden="true"></i>
                                            <p>lorem ipsum dolor sit amet consectetur adipiscing</p>
                                        </div>
                                        <div class="col-md-4 grid1">
                                            <i class="fa fa-bus" aria-hidden="true"></i>
                                            <p>lorem ipsum dolor sit amet consectetur adipiscing</p>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="w3layouts-banner-top w3layouts-banner-top3">
                    <div class="banner-dott">
                        <div class="container">
                            <div class="slider-info">
                                <div class="col-md-8">
                                    <h3>Streamer loads in</h3>
                                    <h4>large Carriers</h4>
                                    <div class="w3ls-button">
                                        <a href="#" data-toggle="modal" data-target="#myModal">More About Our Transport</a>
                                    </div>
                                    <div class="bannergrids">
                                        <div class="col-md-4 grid1">
                                            <i class="fa fa-truck" aria-hidden="true"></i>
                                            <p>lorem ipsum dolor sit amet consectetur adipiscing</p>
                                        </div>
                                        <div class="col-md-4 grid1">
                                            <i class="fa fa-ship" aria-hidden="true"></i>
                                            <p>lorem ipsum dolor sit amet consectetur adipiscing</p>
                                        </div>
                                        <div class="col-md-4 grid1">
                                            <i class="fa fa-bus" aria-hidden="true"></i>
                                            <p>lorem ipsum dolor sit amet consectetur adipiscing</p>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="w3layouts-banner-top w3layouts-banner-top2">
                    <div class="banner-dott">
                        <div class="container">
                            <div class="slider-info">
                                <div class="col-md-8">
                                    <h3>vehicles Transport</h3>
                                    <h4>Huge in collection</h4>
                                    <div class="w3ls-button">
                                        <a href="#" data-toggle="modal" data-target="#myModal">More About Our Transport</a>
                                    </div>
                                    <div class="bannergrids">
                                        <div class="col-md-4 grid1">
                                            <i class="fa fa-truck" aria-hidden="true"></i>
                                            <p>lorem ipsum dolor sit amet consectetur adipiscing</p>
                                        </div>
                                        <div class="col-md-4 grid1">
                                            <i class="fa fa-ship" aria-hidden="true"></i>
                                            <p>lorem ipsum dolor sit amet consectetur adipiscing</p>
                                        </div>
                                        <div class="col-md-4 grid1">
                                            <i class="fa fa-bus" aria-hidden="true"></i>
                                            <p>lorem ipsum dolor sit amet consectetur adipiscing</p>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="w3layouts-banner-top w3layouts-banner-top4">
                    <div class="banner-dott">
                        <div class="container">
                            <div class="slider-info">
                                <div class="col-md-8">
                                    <h3>Goods Carrying Train</h3>
                                    <h4>Truck shipping</h4>
                                    <div class="w3ls-button">
                                        <a href="#" data-toggle="modal" data-target="#myModal">More About Our Transport</a>
                                    </div>
                                    <div class="bannergrids">
                                        <div class="col-md-4 grid1">
                                            <i class="fa fa-truck" aria-hidden="true"></i>
                                            <p>lorem ipsum dolor sit amet consectetur adipiscing</p>
                                        </div>
                                        <div class="col-md-4 grid1">
                                            <i class="fa fa-ship" aria-hidden="true"></i>
                                            <p>lorem ipsum dolor sit amet consectetur adipiscing</p>
                                        </div>
                                        <div class="col-md-4 grid1">
                                            <i class="fa fa-bus" aria-hidden="true"></i>
                                            <p>lorem ipsum dolor sit amet consectetur adipiscing</p>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    @Html.Action("PartialTransport")
    <div class="clearfix"></div>
</div>
