<div class="slider">
    <div class="callbacks_container">
        <ul class="rslides" id="slider">
            <li>
                <div class="w3layouts-banner-top w3layouts-banner-top1">
                    <div class="banner-dott">
                        <div class="container">
                            <div class="slider-info">
                                <div class="col-md-8">
                                    <h2>Auto transport to fill</h2>
                                    <h4>the truck space</h4>
                                    <div class="w3ls-button">
                                        <a href="#" data-toggle="modal" data-target="#myModal">More About Our Transport</a>
                                    </div>
                                    <div class="bannergrids">
                                        <div class="col-md-4 grid1">
                                            <i class="fa fa-truck" aria-hidden="true"></i>
                                            <p>lorem ipsum dolor sit amet consectetur adipiscing</p>
                                        </div>
                                        <div class="col-md-4 grid1">
                                            <i class="fa fa-ship" aria-hidden="true"></i>
                                            <p>lorem ipsum dolor sit amet consectetur adipiscing</p>
                                        </div>
                                        <div class="col-md-4 grid1">
                                            <i class="fa fa-bus" aria-hidden="true"></i>
                                            <p>lorem ipsum dolor sit amet consectetur adipiscing</p>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="banner-form-agileinfo">
                                        <h5>Need To <span>Transport</span>?</h5>
                                        <p>
                                            Ut enim ad minima veniam, quis nostrum
                                            exerc ullam corporis nisi ut aliqui
                                        </p>
                                        <form action="#" method="post">
                                            <input type="text" class="email" name="name" placeholder="Name" required="">
                                            <input type="tel" class="tel" name="tel" placeholder="Phone Number" required="">
                                            <select class="form-control option-w3ls">
                                                <option>Transport From</option>
                                                <option>Albania</option>
                                                <option>Belgium</option>
                                                <option>Cameroon</option>
                                                <option>Dominica</option>
                                                <option>France</option>
                                                <option>Jersey</option>
                                            </select>
                                            <select class="form-control option-w3ls">
                                                <option>Transport To</option>
                                                <option>Colombia</option>
                                                <option>Indonesia</option>
                                                <option>Japan</option>
                                                <option>Lebanon</option>
                                                <option>Luxembourg</option>
                                                <option>Montserrat</option>
                                            </select>
                                            <input type="submit" class="hvr-shutter-in-vertical" value="Get started">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="w3layouts-banner-top">
                    <div class="banner-dott">
                        <div class="container">
                            <div class="slider-info">
                                <div class="col-md-8">
                                    <h3>independent Carriers</h3>
                                    <h4>auto shipping</h4>
                                    <div class="w3ls-button">
                                        <a href="#" data-toggle="modal" data-target="#myModal">More About Our Transport</a>
                                    </div>
                                    <div class="bannergrids">
                                        <div class="col-md-4 grid1">
                                            <i class="fa fa-truck" aria-hidden="true"></i>
                                            <p>lorem ipsum dolor sit amet consectetur adipiscing</p>
                                        </div>
                                        <div class="col-md-4 grid1">
                                            <i class="fa fa-ship" aria-hidden="true"></i>
                                            <p>lorem ipsum dolor sit amet consectetur adipiscing</p>
                                        </div>
                                        <div class="col-md-4 grid1">
                                            <i class="fa fa-bus" aria-hidden="true"></i>
                                            <p>lorem ipsum dolor sit amet consectetur adipiscing</p>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="banner-form-agileinfo">
                                        <h5>Need To <span>Transport</span>?</h5>
                                        <p>
                                            Ut enim ad minima veniam, quis nostrum
                                            exerc ullam corporis nisi ut aliqui
                                        </p>
                                        <form action="#" method="post">
                                            <input type="text" class="email" name="name" placeholder="Name" required="">
                                            <input type="tel" class="tel" name="tel" placeholder="Phone Number" required="">
                                            <select class="form-control option-w3ls">
                                                <option>Transport From</option>
                                                <option>Albania</option>
                                                <option>Belgium</option>
                                                <option>Cameroon</option>
                                                <option>Dominica</option>
                                                <option>France</option>
                                                <option>Jersey</option>
                                            </select>
                                            <select class="form-control option-w3ls">
                                                <option>Transport To</option>
                                                <option>Colombia</option>
                                                <option>Indonesia</option>
                                                <option>Japan</option>
                                                <option>Lebanon</option>
                                                <option>Luxembourg</option>
                                                <option>Montserrat</option>
                                            </select>
                                            <input type="submit" class="hvr-shutter-in-vertical" value="Get started">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="w3layouts-banner-top w3layouts-banner-top3">
                    <div class="banner-dott">
                        <div class="container">
                            <div class="slider-info">
                                <div class="col-md-8">
                                    <h3>Streamer loads in</h3>
                                    <h4>large Carriers</h4>
                                    <div class="w3ls-button">
                                        <a href="#" data-toggle="modal" data-target="#myModal">More About Our Transport</a>
                                    </div>
                                    <div class="bannergrids">
                                        <div class="col-md-4 grid1">
                                            <i class="fa fa-truck" aria-hidden="true"></i>
                                            <p>lorem ipsum dolor sit amet consectetur adipiscing</p>
                                        </div>
                                        <div class="col-md-4 grid1">
                                            <i class="fa fa-ship" aria-hidden="true"></i>
                                            <p>lorem ipsum dolor sit amet consectetur adipiscing</p>
                                        </div>
                                        <div class="col-md-4 grid1">
                                            <i class="fa fa-bus" aria-hidden="true"></i>
                                            <p>lorem ipsum dolor sit amet consectetur adipiscing</p>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="banner-form-agileinfo">
                                        <h5>Need To <span>Transport</span>?</h5>
                                        <p>
                                            Ut enim ad minima veniam, quis nostrum
                                            exerc ullam corporis nisi ut aliqui
                                        </p>
                                        <form action="#" method="post">
                                            <input type="text" class="email" name="name" placeholder="Name" required="">
                                            <input type="tel" class="tel" name="tel" placeholder="Phone Number" required="">
                                            <select class="form-control option-w3ls">
                                                <option>Transport From</option>
                                                <option>Albania</option>
                                                <option>Belgium</option>
                                                <option>Cameroon</option>
                                                <option>Dominica</option>
                                                <option>France</option>
                                                <option>Jersey</option>
                                            </select>
                                            <select class="form-control option-w3ls">
                                                <option>Transport To</option>
                                                <option>Colombia</option>
                                                <option>Indonesia</option>
                                                <option>Japan</option>
                                                <option>Lebanon</option>
                                                <option>Luxembourg</option>
                                                <option>Montserrat</option>
                                            </select>
                                            <input type="submit" class="hvr-shutter-in-vertical" value="Get started">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="w3layouts-banner-top w3layouts-banner-top2">
                    <div class="banner-dott">
                        <div class="container">
                            <div class="slider-info">
                                <div class="col-md-8">
                                    <h3>vehicles Transport</h3>
                                    <h4>Huge in collection</h4>
                                    <div class="w3ls-button">
                                        <a href="#" data-toggle="modal" data-target="#myModal">More About Our Transport</a>
                                    </div>
                                    <div class="bannergrids">
                                        <div class="col-md-4 grid1">
                                            <i class="fa fa-truck" aria-hidden="true"></i>
                                            <p>lorem ipsum dolor sit amet consectetur adipiscing</p>
                                        </div>
                                        <div class="col-md-4 grid1">
                                            <i class="fa fa-ship" aria-hidden="true"></i>
                                            <p>lorem ipsum dolor sit amet consectetur adipiscing</p>
                                        </div>
                                        <div class="col-md-4 grid1">
                                            <i class="fa fa-bus" aria-hidden="true"></i>
                                            <p>lorem ipsum dolor sit amet consectetur adipiscing</p>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="banner-form-agileinfo">
                                        <h5>Need To <span>Transport</span>?</h5>
                                        <p>
                                            Ut enim ad minima veniam, quis nostrum
                                            exerc ullam corporis nisi ut aliqui
                                        </p>
                                        <form action="#" method="post">
                                            <input type="text" class="email" name="name" placeholder="Name" required="">
                                            <input type="tel" class="tel" name="tel" placeholder="Phone Number" required="">
                                            <select class="form-control option-w3ls">
                                                <option>Transport From</option>
                                                <option>Albania</option>
                                                <option>Belgium</option>
                                                <option>Cameroon</option>
                                                <option>Dominica</option>
                                                <option>France</option>
                                                <option>Jersey</option>
                                            </select>
                                            <select class="form-control option-w3ls">
                                                <option>Transport To</option>
                                                <option>Colombia</option>
                                                <option>Indonesia</option>
                                                <option>Japan</option>
                                                <option>Lebanon</option>
                                                <option>Luxembourg</option>
                                                <option>Montserrat</option>
                                            </select>
                                            <input type="submit" class="hvr-shutter-in-vertical" value="Get started">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="w3layouts-banner-top w3layouts-banner-top4">
                    <div class="banner-dott">
                        <div class="container">
                            <div class="slider-info">
                                <div class="col-md-8">
                                    <h3>Goods Carrying Train</h3>
                                    <h4>Truck shipping</h4>
                                    <div class="w3ls-button">
                                        <a href="#" data-toggle="modal" data-target="#myModal">More About Our Transport</a>
                                    </div>
                                    <div class="bannergrids">
                                        <div class="col-md-4 grid1">
                                            <i class="fa fa-truck" aria-hidden="true"></i>
                                            <p>lorem ipsum dolor sit amet consectetur adipiscing</p>
                                        </div>
                                        <div class="col-md-4 grid1">
                                            <i class="fa fa-ship" aria-hidden="true"></i>
                                            <p>lorem ipsum dolor sit amet consectetur adipiscing</p>
                                        </div>
                                        <div class="col-md-4 grid1">
                                            <i class="fa fa-bus" aria-hidden="true"></i>
                                            <p>lorem ipsum dolor sit amet consectetur adipiscing</p>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="banner-form-agileinfo">
                                        <h5>Need To <span>Transport</span>?</h5>
                                        <p>
                                            Ut enim ad minima veniam, quis nostrum
                                            exerc ullam corporis nisi ut aliqui
                                        </p>
                                        <form action="#" method="post">
                                            <input type="text" class="email" name="name" placeholder="Name" required="">
                                            <input type="tel" class="tel" name="tel" placeholder="Phone Number" required="">
                                            <select class="form-control option-w3ls">
                                                <option>Transport From</option>
                                                <option>Albania</option>
                                                <option>Belgium</option>
                                                <option>Cameroon</option>
                                                <option>Dominica</option>
                                                <option>France</option>
                                                <option>Jersey</option>
                                            </select>
                                            <select class="form-control option-w3ls">
                                                <option>Transport To</option>
                                                <option>Colombia</option>
                                                <option>Indonesia</option>
                                                <option>Japan</option>
                                                <option>Lebanon</option>
                                                <option>Luxembourg</option>
                                                <option>Montserrat</option>
                                            </select>
                                            <input type="submit" class="hvr-shutter-in-vertical" value="Get started">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="clearfix"></div>
</div>
