@model List<Logistic.UILayer.Models.TblCategory>
@{ 
    int counter = 0;
}

<div class="services" id="services">
    <div class="heading">
        <h2>Our Services</h2>
    </div>
    <div class="container">
        <div class="servicegrids">
            <div class="servicetopgrids">
                @foreach (var item in Model)
                {
                    counter++;
                <div class="col-md-4 servicegrid1" style="margin-bottom:5rem;">
                    <h5>@counter</h5>
                    <h4>@item.CategoryName Transport</h4>
                    <p>
                        Ut enim ad minima veniam, quis nostrum
                        exercitationem ullam corporis suscipit laboriosam,
                        nisi ut aliquid ex ea commodi consequatur? Quis autem.
                    </p>
                </div>
            }
                
                <div class="clearfix"></div>
            
               
                
            </div>
        </div>
    </div>
</div>
