
@{
    ViewBag.Title = "AddCity";
    Layout = "~/Views/Shared/NewAdminLayout.cshtml";
}

<h2>AddCity</h2>
<br/>


<form method="post">
    <label>City Name</label>
    <input type="text" class="form-control" name="CityName" />
    <br />
    <button class="btn btn-primary">Add City</button>
</form>
