
@{
    ViewBag.Title = "AddEmployee";
    Layout = "~/Views/Shared/NewAdminLayout.cshtml";
}

<h2>Add Employee</h2>

<form method="post">
    <label>Employee Name Surname</label>
    <input type="text" class="form-control" name="EmployeeNameSurname"/>
    <br />
    <label>Employee Image</label>
    <input type="text" class="form-control"  name="EmployeeImage"/>
    <br />
    <button class="btn btn-success">Add Employee</button>
</form>