
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/NewAdminLayout.cshtml";
}

<h2>Profile</h2>

<h3>Welcome: @ViewBag.v1 @ViewBag.v2</h3>
<h4>Mail address: @ViewBag.v3</h4>
<h4>Phone Number: @ViewBag.v4</h4>